/* Headers css */
.header {
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
}

.header .logo {
    margin-left: 5%;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    border: 2px solid wheat;
}

.search {
    margin-left: 6%;
    margin-top: 45px;
    width: 65%;
    height: 40px;
    background: #ffffffa8;
    border: 3px solid rgba(0, 128, 0, 0.509);
    border-radius: 15px;
    cursor: pointer;
    font-size: 13px;
    color: black;
    font-weight: 500;
    padding: 20px 45px 20px 10px
}

.logout {
    margin-right: 2%;
    margin-left: 5%;
    margin-top: 45px;
    width: 10%;
    height: 50px;
    background: #ffffff38;
    border: 3px solid rgba(0, 128, 0, 0.292);
    border-radius: 13px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-align: center;


}